.container {
  width: 100%;
  margin: 0 auto;
}

.projectTitle {
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
}

.projectSubtitle {
  margin-bottom: 2rem;
  color: #a1a1a1;
}

.cards {
  list-style: none;
  padding-left: 0;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, 70vh);
  gap: 4rem;
  padding-bottom: calc(4 * 1.5rem);
  margin-bottom: 4vw;
}

.card {
  position: sticky;
  top: 100px;
  border-radius: 50px;
}

.cardBody {
  box-sizing: border-box;
  /* padding: 30px; */
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 0.5s;
  border: 1px solid red;
}
