.about {
  min-height: 100vh;
  max-width: 764px;
  margin: 0 auto;
  animation: dropFromTheTop 1s ease forwards;
  padding-bottom: 5rem;
}

.about h1 {
  font-size: 3rem;
  margin-bottom: 2rem;
}

.about p {
  padding-top: 1rem;
  font-size: 1.25rem;
  line-height: 1.75rem;
  max-width: 680px;
}

.about a {
  color: var(--color-primary-blue);
}

@keyframes dropFromTheTop {
  from {
    opacity: 0;
    filter: blur(8px);
    transform: translateY(-100%);
  }
  to {
    opacity: 1;
    filter: blur(0);
    transform: translateY(0);
  }
}
